:root {
  --top-background-color: #ece9e6;
  --item-color: rgb(89, 64, 75);
  /* --bottom-background-color: #f7f3ef; */
}

body {
  font-family: "Roboto", sans-serif;
  margin-bottom: 100px;
}

h1 {
  font-family: "Merriweather", serif;
  font-weight: bold;
  font-size: 55px;
}

.header-indent {
  text-indent: 45px;
}

.hero {
  padding: 130px 50px;
  background: var(--top-background-color);
}

.hero h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 40px 0 40px 45px;
}

.contact-button {
  background-color: #ffffff;
  border: 1px solid rgba(82, 82, 82, 0.3);
  box-sizing: border-box;
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  color: var(--item-color);
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  display: block;
  line-height: 1.25;
  margin: 0 auto;
  padding: 15px 50px;
  text-decoration: none;
  transition: all 250ms;
}

.contact-button:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(89, 64, 75, 0.6);
}

.home-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
}

.home-content {
  place-self: center;
}

.middle-part {
  padding-top: 100px;
  /* background-color: var(--bottom-background-color); */
}

.middle-header {
  height: 1px;
  background: var(--item-color);
  margin-bottom: 80px;
  position: relative;
}

.middle-header h3 {
  display: block;
  text-align: center;
  background: #ffffff;
  position: absolute;
  top: -0.8rem;
  left: 50%;
  margin-left: -125px;
  width: 250px;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
}

@media (max-width: 576px) {
  .home-content:nth-of-type(2) {
    grid-row: 1;
  }

  .header-indent {
    text-indent: 0;
  }

  h1 {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 20px;
    font-size: 40px;
  }

  .hero h2 {
    text-align: center;
    margin: 0 0 20px 0;
    font-size: 16px;
  }

  .contact-button {
    margin: 0 auto;
  }
}

@media (min-width: 576px) {
  .hero {
    padding-left: 80px;
  }
  .home-container {
    grid-template-columns: 1fr 1fr;
  }
}

.brand-text {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.7;
}

.nav-background {
  background-color: var(--top-background-color) !important;
}

.nav-underline {
  border-bottom: var(--item-color) solid 2.5px;
  width: 55px;
  padding-left: 15px;
}

.project-row img {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}

.project-title {
  padding: 20px;
  text-align: center;
}

.project-title h4 {
  font-size: 16px;
  font-weight: 400;
}

.btn-project {
  background-color: var(--item-color);
  color: white;
}

.card {
  margin: 0 auto;
}
