:root {
  --top-background-color: #ece9e6;
  --item-color: rgb(89, 64, 75);
}

body {
  font-family: "Figtree", sans-serif;
  margin-bottom: 10px;
}

footer {
  margin-top: 100px;
}

footer p {
  margin-bottom: 0;
  opacity: 0.8;
}

footer .contact-box {
  background-color: var(--top-background-color);
  padding: 30px 100px;
  margin-bottom: 50px;
}

footer .contact-box h5 {
  font-family: "Merriweather", serif;
  font-size: 50px;
}

h1 {
  font-family: "Merriweather", serif;
  font-size: 85px;
  font-weight: bold;
}

.brand-text {
  font-size: 16px;
  font-weight: 200;
  opacity: 0.7;
}

.button-mail {
  border: 4px solid #5f7884;
  border-radius: 50%;
  padding: 10px;
  text-decoration: none;
}

.button-mail:hover,
.button-mail:first-child:active {
  border: 4px solid #5f7884;
}

.button-linkedin {
  border: 4px solid var(--item-color);
  border-radius: 50%;
  padding: 10px;
}

.button-linkedin:hover,
.button-linkedin:first-child:active {
  border: 4px solid var(--item-color);
}

.button .btn-project {
  background-color: var(--item-color);
  color: white;
  margin-top: 10px;
}

.card {
  margin: 0 auto;
}

.card-title {
  font-size: 18px;
}

.contact-button {
  background-color: #ffffff;
  border: 1px solid rgba(82, 82, 82, 0.3);
  border-radius: 4px;
  box-shadow: rgba(0, 0, 0, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: var(--item-color);
  cursor: pointer;
  display: block;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.25;
  margin: 0 auto;
  max-width: fit-content;
  padding: 15px 50px;
  text-decoration: none;
  transition: all 250ms;
}

.contact-button:hover {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  color: rgba(89, 64, 75, 0.6);
}

.contact-icons {
  font-size: 18px;
  font-weight: 600;
  margin: 30px 0 10px 45px;
  padding: 0;
}

.footer-container {
  margin-top: 40px;
  text-align: center;
}

.footer-icons {
  font-size: 30px;
  margin-top: 5px;
}

.footer-icons a {
  opacity: 0.8;
}

.footer-icons a:hover {
  opacity: 1;
  transition: all 100ms ease-in-out;
}

.header-indent {
  text-indent: 45px;
}

.hero {
  background: var(--top-background-color);
  padding-bottom: 100px;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 130px;
}

.hero h2 {
  font-size: 18px;
  font-weight: 400;
  margin: 30px 0 40px 45px;
}

.linkedin {
  color: #59404b;
  text-decoration: none;
}

.mailto {
  color: #5f7884;
  text-decoration: none;
}

.main-container {
  display: grid;
  margin: 0 auto;
  max-width: 1200px;
}

.main-content {
  padding-top: 50px;
}

.main-content-home {
  place-self: center;
}

.middle-part {
  padding-top: 100px;
}

.middle-header {
  background: var(--item-color);
  height: 1px;
  margin-bottom: 80px;
  position: relative;
}

.middle-header h3 {
  background: #ffffff;
  display: block;
  font-size: 16px;
  font-weight: 400;
  left: 50%;
  letter-spacing: 0.1rem;
  margin-left: -125px;
  position: absolute;
  text-align: center;
  text-transform: uppercase;
  top: -0.8rem;
  width: 250px;
}

.nav-background {
  background-color: var(--top-background-color) !important;
}

.nav-underline {
  border-bottom: var(--item-color) solid 2.5px;
  padding-left: 8px;
}

@media (max-width: 576px) {
  .main-content:nth-of-type(2) {
    grid-row: 1;
  }

  .header-indent {
    text-indent: 0;
  }

  h1 {
    font-size: 40px;
    margin-bottom: 20px;
    margin-top: 10px;
    text-align: center;
  }

  .hero h2 {
    font-size: 16px;
    margin: 0 0 20px 0;
    text-align: center;
  }

  .contact-button {
    margin: 0 auto;
  }

  .main-content {
    padding-top: 0px;
  }

  .contact-icons {
    margin: 0 0 20px 0;
    text-align: left;
  }
}

@media (min-width: 576px) {
  .hero {
    padding-left: 80px;
  }
  .main-container {
    grid-template-columns: 1fr 1fr;
  }
}
